@model IEnumerable<Projeto_GestaoContratos.Models.Contratos>

@{
    ViewData["Title"] = "Index";
}


<div class="form-group row">
    <div class="col-sm-12">

        <!--Título-->
        <h1 class="text-center">Listagem de todos os contratos</h1>

        <div class="d-flex justify-content-end">
            <a class="btn btn-primary btn-customize" asp-action="Create">Adicionar</a>
        </div>
        <hr/>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contrato)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Produto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vencimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataInclusao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsuarioInclusao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contrato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Produto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vencimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInclusao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsuarioInclusao)
                        </td>
                        <td class ="btn-group" role="group" aria-label="Basic example">
                            <a type="button" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a> 
                            <a type="button" asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Detalhes</a> 
                            <a type="button" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
